.test_style
{
    color:red;
}


.header
{
    background: #BC90FC;
    height: 40px;
}

.icon
{
    height: 36px;
    width: 36px;
    padding-right: 5px;
}
.icon-link
{
    height: 36px;
    width: 36px;
    padding-right: 5px;
}
.icon-link:hover::after
{
    content: attr(data-title);
    position: absolute;
    left: 8%;
    top: 13%;
    z-index: 1;
    color: black;
}