<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href = "{{ url_for('static',filename='stylesheet.css') }}">
</head>
<body>
<div class = header>
    <a class = icon-link data-title = "Вход в личный кабинет" href="http://127.0.0.1:5000/user-cabinet">
        <img  class = icon src="{{ url_for('static', filename='icons/account.svg') }}">
    </a>
</div>
{% for note in notes %}
<h2>{{ note['note_name'] }}</h2>
<p> {{ note['note_content'] }}</p>
{% endfor %}

<form action="" method="post">
    <p>
        <label for="note_name">Имя пользователя</label>
        <input type="text" name ="note_name">
    </p>
    <p>
        <label for="note_content">Заметки пользователя</label>
        <input type="text" name ="note_content">
    </p>
    <p>
        <input type="submit" value="Добавить заметку">
    </p>
</form>

</body>
</html>