<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">
    <p>
        <label for="full_name">ФИО</label>
        <input type="text" name ="full_name">
    </p>
    <p>
        <label for="username">Имя пользователя</label>
        <input type="text" name ="username">
    </p>
    <p>
        <label for="password">Пароль</label>
        <input type="password" name ="password">
    </p>

    <p>
        <input type="submit" value="Зарегистрироваться">
    </p>
</form>
</body>
</html>